/*
  el-card
  添加了自定义类 justify-direction, card 内容改为水平布局
*/

.el-card {
  background: $bg_normal;
  border: 1px solid $bg_normal;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.31);
  border-radius: 4px;
  margin: 25px 0;
  padding: 18px 36px;
  color: $font_normal;
  .el-card__header {
    background-color: transparent;
    border-bottom: 1px solid $primary_color;
    font-size: 18px;
    padding: 15px 0;
  }
  .el-card__body {
    padding: 20px 0;
  }
}

// 水平布局卡片
.el-card.justify-direction {
  display: flex;
  .el-card__header {
    padding: 0 15px;
    border-bottom: 0;
    border-right: 1px solid $primary_color;
  }
  .el-card__body {
    padding: 0 15px;
  }
}